@(me: User, contacts: List[Contact])

@main("Me") {
<h2>Me</h2>
<p>@me.getEmail()</p>
<form action="@routes.ContactListController.postLogout()" method="post">
    <button>Logout</button>
</form>

<h2>Contact List</h2>
<table>
    <tr>
        <th>Contact Name</th>
        <th>Birthday</th>
    </tr>

    @for(contact <- contacts) {
    <tr>
        <td>@contact.getName()</td>
        <td>@contact.getBirthday()</td>
    </tr>
    }

</table>

<h2>Action</h2>
<form action="@routes.ContactListController.postContactList()" method="post">
    <p>Send me an email when there is a contact with an upcoming birthday.</p>
    <p>Send
        <input type="number"
               step="1"
               pattern="\d+"
               name="hourBeforeSendBirthdayEmail"
               value="@me.getHourBeforeSendBirthdayEmail()"/>
        hours before the birthday.</p>
    <button>Update</button>
</form>
}
